<div ng-if="success">
  <div class="panel panel-info">
    <div class="panel-heading">
      General information
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Domain</dt>
        <dd>{{content.report.domain || '-'}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Domain registration</dt>
        <dd>{{content.report.domain_registration.created_on || '-'}}</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-info" ng-if="::content.report.prediction">
    <div class="panel-heading">
      Prediction
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Cluster</dt>
        <dd>{{content.report.prediction.cluster || '-'}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Category</dt>
        <dd>{{content.report.prediction.category || '-'}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>CIDR</dt>
        <dd>{{content.report.prediction.cidr || '-'}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Predicted at</dt>
        <dd>{{content.report.prediction.predicted_at || '-'}}</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-info" ng-if="::content.report.history">
    <div class="panel-heading">
      History
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>First seen at</dt>
        <dd>{{content.report.history.first_seen_at || '-'}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Last seen at</dt>
        <dd>{{content.report.history.last_seen_at || '-'}}</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-info" ng-if="::content.report.passive_dns" ng-init="passive_dns_limit = 20">
    <div class="panel-heading">
      Passive DNS
      <span class="pull-right" ng-show="::content.report.passive_dns.length > 20">
        <a href ng-show="passive_dns_limit===20" ng-click="passive_dns_limit = undefined">Show All ({{::content.report.passive_dns.length}})</a>
        <a href ng-show="!passive_dns_limit" ng-click="passive_dns_limit = 20">Show less</a>
      </span>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <tr>
          <th>Domain</th>
          <th>Hostname</th>
          <th>Answer IP</th>
          <th>Answer text</th>
          <th>Answer type</th>
          <th>First seen at</th>
          <th>Last seen at</th>
          <th>Feed</th>
        </tr>
        <tr ng-repeat="record in content.report.passive_dns | limitTo:passive_dns_limit | orderBy:'-first_seen_at'">
          <td>{{ record.domain }}</td>
          <td>{{ record.hostname }}</td>
          <td>{{ record.answer_ip }}</td>
          <td>{{ record.answer_text }}</td>
          <td>{{ record.answer_type }}</td>
          <td>{{ record.first_seen_at }}</td>
          <td>{{ record.last_seen_at }}</td>
          <td>{{ record.feed }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-danger" ng-if="!success">
  <div class="panel-heading">
    <strong>{{artifact.data | fang}}</strong>
  </div>
  <div class="panel-body">
    {{content.errorMessage}}
  </div>
</div>
